
<!-- Contenedor para el formulario y las tarjetas de producto -->
<div class="container mt-5">
    


<div class="row justify-content-center">
    
    <div class="col-md-4">
        <div style="width: 100%">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=es&amp;q=SANTIAGO%20CENTRO+(Mi%20nombre%20de%20egocios)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car Navigation Systems</a></iframe>
        </div>
   
    </div>   
     

    <!-- Columna para las tarjetas de producto -->
    <div class="col-md-6">
       
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/images/niños/adivinaquien.PNG" alt="Denim Jeans">
                        </div>
                        <div class="card-body">
                            <h4>Adivina Quien</h4>
                            <p class="price">$22.500</p>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p>juego de mesa de adivinanzas sobre personajes..</p>
                            <p><button class="btn btn-primary">Agregar</button></p>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="d-flex justify-content-center">
                     <img src="../../assets/images/familiares/granSantiago.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Gran Santiago</h4>
                        <p class="price">$18.950</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de mesa sobre inversiones, compraventa..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>

