    
<div class="container"> 
    <div class="py-3 bg-light text-center">   
    
        <section class="mb-5">
            <div class="text-center">
                <h2 class="tituloBienvenida">Bienvenidos a JuegosJP</h2>
                <!--Este titulo se esta pasando por el DOM-->
                <p id="tituloIndex"></p>
            </div>
        </section>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/Adulto/ajedrez.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Ajedrez</h4>
                        <p class="price">$20.500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego estratégico de tablero...</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/Adulto/dama.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Damas</h4>
                        <p class="price">$10.990</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego estratégico de tablero..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/Adulto/pocker.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Pocker</h4>
                        <p class="price">$25.000</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego estratégico de cartas..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>

        </div><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/cartas/carioca.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Carioca</h4>
                        <p class="price">$3.500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de cartas tipo rummy con escaleras y tríos...</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/cartas/española.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Española</h4>
                        <p class="price">$4.500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de naipes tradicional con 40 o 48 cartas...</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/cartas/uno.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Uno</h4>
                        <p class="price">$3.000</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de cartas con colores y números...</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            
        </div><br>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/familiares/granCapital.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Gran Capital</h4>
                        <p class="price">$18.500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de mesa sobre inversiones, compraventa..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                     <img src="../../assets/images/familiares/granSantiago.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Gran Santiago</h4>
                        <p class="price">$18.950</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de mesa sobre inversiones, compraventa..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/familiares/ludo.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Ludo</h4>
                        <p class="price">$7.990</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de mesa con dados, cuatro fichas y tablero...</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            
        </div><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/niños/adivinaquien.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Adivina Quien</h4>
                        <p class="price">$22.500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p>juego de mesa de adivinanzas sobre personajes..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/images/niños/laserpiente.PNG" alt="Denim Jeans">
                    </div>
                    <div class="card-body">
                        <h4>Serpiente</h4>
                        <p class="price">$21.350</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p> juego de mesa con tablero y fichas..</p>
                        <p><button class="btn btn-primary">Agregar</button></p>
                    </div>
                </div>
                
            </div><br>
            
   
   
    </div>
</div>   
